@font-face {
    font-family: 'FrenchScriptMT'; /*a name to be used later*/
    src: url('../fonts/c2f7638be87032cd75a21eeceffd56bd.ttf'); /*URL to font*/
}

body {
    margin-top: 100px;
    background-color: #ffffff;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#multiple{
    border: 3px solid #8c8c8c;
    background-color: #fafafa;
    min-height: 200px;
}

#multiple label{
    font-size: 14px;
    padding: 5px;
    color: #245269;
}

#drop-box{
    position: relative;
    top: 30px;
    background: aliceblue;
    border: 3px dotted #8c8c8c;
    min-height: 200px;
}

#drop-box label{
    position: relative;
    top: 25px;
}

.progress{
    position: relative !important;
    left: 8px !important;
    width: 284px !important;
    bottom: 10px !important;
}

#image-box{
    position: relative;
    top: 100px;
}

#image-box img{
    padding: 3px;
    margin: 5px;
}

.uppercase{
    text-transform: uppercase !important;
}

.btn-delete{
    color: red !important;
}

.user th{
    text-align: center;
    text-transform: uppercase;
}

.user td{
    text-align: center;
    text-transform: uppercase;
}

.cap:first-letter {
    text-transform: uppercase;
}

.alt {
    background-color:#ccc;
}

.font-extra{
    font-family:'FrenchScriptMT' !important;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

#side-nav .navbar-nav>li {
    text-align: left !important;
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

.alert-danger {
    color: #a94442 !important;
    background-color: #f2dede !important;;
    border-color: #ebccd1 !important;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 59px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

#profile-grid { overflow: auto; white-space: normal; }
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}

.text-gray{
    color: #888 !important;
}

.yellow{
    color: yellow !important;
}

/*.user tbody a{*/
    /*color: #888 !important;*/
/*}*/

.preview {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 40%;
    line-height: 32px;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    transition: .2s;
    font-weight: bold;
}

.preview:focus{
    outline: 0;
}

.preview:hover{
    outline: 0;
}

#new-category-form .form-group .form-control{
    margin-bottom: 0 !important;
}

.red{
    color: red !important;
}

.green{
    color : #00ff21 !important;
}

