@font-face {
    font-family: Neou-Bold;
    src: url("../fonts/Neou-Bold.ttf");
}

@font-face {
    font-family: Neou-Thin;
    src: url("../fonts/Neou-Thin.ttf");
}

body {
    width: 100%;
    height: 100%;
    font-family: Palatino;
    color: #4c4c4d;
    background-color: #ffffff;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 30px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.neouBold{
    font-family: 'Neou-Bold' !important;
}

.neouThin{
    font-family: 'Neou-Thin' !important;
}

.normal{
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    font-size: 15px !important;
    letter-spacing: 1.3px;
}

.defineRight{
    float: right !important;
}


#header{
    background-color: #ffffff;
    color: #4c4c4d;
}

#logo{
    width: 150px;
    position: relative;
    bottom: 38px;
}

.logo-resize{
    width: 80px !important;
    bottom: 14px !important;
}

.show{
    display: block !important;
}

.first-item{
    margin-left: 3px !important;
}

.menu li a{
    font-size: 16px;
    color: #4c4c4d !important;
    border-bottom: 2px solid transparent;
}

.menu li a:hover{
    color: #ff751a !important;
    text-shadow: 0px 0px 1px #fafafa;
}

.menu li.active a{
    color: #ff751a !important;
}

.primary-color{
    color: #f58735 !important;
}

.primary-bk{
    background-color: #f58735 !important;
}

#bk-header{
    width: 100%;
    top: -100px;
    opacity: 0.02;
    position: absolute;
}

.bk-header-hide{
    opacity: 0 !important;
}

.dark-shadow{
    box-shadow: 1px 1px 1px #ededed !important;
}

#carousel{
    max-height: 650px;
    margin-top: 100px;
}

#carousel img{
    width: 100%;
    max-height: 650px;
}

.intro-section {
    height: auto;
    min-height: 90%;
    padding-top: 100px;
    text-align: center;
    background: #fff;
    box-shadow: 1px 1px 1px #ededed;
}

.about-section {
    height: auto;
    min-height: 100%;
    padding-top: 200px;
    text-align: center;
    background: #fdfdfd;
    box-shadow: 1px 0.5px 1px #ededed;
    background-repeat: no-repeat;

}

.parallax-window {
    background: transparent;
}

.parallax2-window {
    background: transparent;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: auto;
    min-height: 90%;
    padding-top: 150px;
    text-align: center;
    color: #4c4c4d;
    box-shadow: 1px 0.5px 1px #ededed;
    border-top: 0.5px solid #ededed;
}

.contact-section .info li{
    font-size: 16px;
}

.contact-info ul{
    list-style: none;
}

.contact-box{
    background: rgba(255,255,255,.8) !important;
    box-shadow: 1px 1px 1px #ededed;
    padding-bottom: 80px;
}

.label-left{
    left: 10px;
}

.fix-icon{
    position: relative !important;
    top: 14px !important;
}

.form-group.is-focused label, .form-group.is-focused label.control-label {
    color: #f58735 !important;
}

.box-shadow3{
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.box-shadow1{
    -webkit-box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;
}

#send{
    transition: all ease-in-out 500ms;
}

#send:hover{
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19) !important;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19) !important;
    transform: rotate(360deg);
}

.facebook-color{
    background-color: #5b74a8 !important;
}

.delay{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.transparent{
    color: inherit !important;
    background-color: rgba(255,255,255,.1) !important;
}
/* LOGIN */

.box-login a {
    color: #aaaaaa;
    transition: all ease-in-out 200ms;
}
.box-login a:hover {
    color: #333333;
    text-decoration: none;
}
/*=== 3. Text Outside the Box ===*/
.etc-login-form {
    color: #919191;
    padding: 10px 20px;
}
.etc-login-form p {
    margin-bottom: 5px;
}
/*=== 4. Main Form ===*/
.login-form-1 {
    max-width: 300px;
    border-radius: 5px;
    display: inline-block;
}
.main-login-form {
    position: relative;
}
.login-form-1 .form-control {
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 7px 0;
    font-weight: bold;
    height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
    color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
    color: #999999;
}
.login-form-1 .form-group {
    margin-bottom: 0;
    border-bottom: 2px solid #efefef;
    padding-right: 20px;
    position: relative;
}
.login-form-1 .form-group:last-child {
    border-bottom: 0;
}
.login-group {
    background: #ffffff;
    color: #999999;
    border-radius: 8px;
    padding: 10px 20px;
}
.login-group-checkbox {
    padding: 5px 0;
}
/*=== 5. Login Button ===*/
.login-form-1 .login-button {
    position: absolute;
    right: -25px;
    top: 50%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
    color: #555555;
    transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
    color: #555555;
}
.login-form-1 .login-button.clicked:hover {
    transform: none;
}
.login-form-1 .login-button.clicked.success {
    color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
    color: #e74c3c;
}
/*=== 6. Form Invalid ===*/
label.form-invalid {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: block;
    margin-top: -25px;
    padding: 7px 9px;
    background: #777777;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px;
}
label.form-invalid:after {
    top: 100%;
    right: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #777777;
    border-width: 6px;
}
/*=== 7. Form - Main Message ===*/
.login-form-main-message {
    background: #ffffff;
    color: #999999;
    border-left: 3px solid transparent;
    border-radius: 3px;
    margin-bottom: 8px;
    font-weight: bold;
    height: 0;
    padding: 0 20px 0 17px;
    opacity: 0;
    transition: all ease-in-out 200ms;
}
.login-form-main-message.show {
    height: auto;
    opacity: 1;
    padding: 10px 20px 10px 17px;
}
.login-form-main-message.success {
    border-left-color: #2ecc71;
}
.login-form-main-message.error {
    border-left-color: #e74c3c;
}

a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: #ff3f00 url("../images/arrow-up.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

a.back-to-top:hover {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19) !important;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19) !important;
}

/* Small monitors */
@media (max-width: 1024px) {

    #logo {
        width: 135px;
        bottom: 30px;
    }

    #carousel img{
        height: 560px !important;
    }
}

@media (max-width: 768px) {

    #logo {
        width: 135px;
        bottom: 30px;
    }

    #carousel img{
        height: 460px !important;
    }

    .social-icons{
        top: 0 !important;
    }

    #form-contato {
        position: relative;
        top: 50px !important;
    }
    .contact-info{
        position: relative !important;
        top: 15px !important;
    }

    .about-section{
        padding-top: 95px !important;
    }

    .contact-section {
        padding-top: 95px !important;
    }

    .intro-section{
        padding-top: 95px !important;
    }


}

/* Iphone Plus */
@media (max-width: 425px) {
    #logo {
        width: 70px;
        bottom: 10px;
    }

    .logo-resize{
        width: 70px !important;
    }

    #carousel img{
        height: 260px !important;
    }

    .navbar-ex1-collapse{
        box-shadow: 1px 1px 1px #ededed;
    }

    .social-icons{
        top: 0 !important;
    }

    #form-contato {
        position: relative;
        top: 50px !important;
    }

    .contact-info{
        position: relative !important;
        top: 15px !important;
    }

    .about-section{
        padding-top: 70px !important;
    }

    .contact-section {
        padding-top: 70px !important;
    }

    .intro-section{
        padding-top: 70px !important;
    }
}

/* Iphone 5 */
@media (max-width: 320px) {

    #carousel img{
        height: 200px !important;
    }
    .navbar-ex1-collapse{
        box-shadow: 1px 1px 1px #ededed;
    }

    .social-icons{
        top: 0 !important;
    }

    #form-contato {
        position: relative;
        top: 50px !important;
    }

    .contact-info{
        position: relative !important;
        top: 15px !important;
    }

    .about-section{
        padding-top: 70px !important;
    }

    .contact-section {
        padding-top: 70px !important;
    }

    .intro-section{
        padding-top: 70px !important;
    }

}

.form-group .form-control {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f58735), to(#f58735)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2)) !important;
    background-image: -webkit-linear-gradient(#f58735, #f58735), -webkit-linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-image: -o-linear-gradient(#f58735, #f58735), -o-linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-image: linear-gradient(#f58735, #f58735), linear-gradient(#D2D2D2, #D2D2D2) !important;
}

.footer{
    width: 100%;
    height: 90px;
    background-color: #ff3f00;
    color: #ffffff;
}

hr.star-light {
    border-color: white;
    background-color: #fafbfb;
}
hr.star-light, hr.star-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 40px auto 30px;
}

hr.star-light:after {
    background-color: #fafbfb;
}
hr.star-light:after, hr.star-primary:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
}

#header .active{
    border-bottom: 2px solid #ff751a !important;
    color: #ff751a !important;
    text-shadow: 0px 0px 1px #fafafa !important;
}

.social-icon {
    color: #fff;
}

ul.social-icons {
    position: relative;
}

.social-icons li {
    vertical-align: top;
    display: inline;
}

.social-icons a {
    color: #fff !important;
    text-decoration: none;
}

.fa-facebook {
    padding: 8px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #666666;
    width: 42px;
    height: 42px;
}

.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding: 7px 8px 6px 8px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #666666;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-instagram {
    padding: 7px 8px 6px 8px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #666666;
    width: 42px;
    height: 42px;
}

.fa-instagram:hover {
    background-color: #125688;
}

.fa-youtube {
    padding: 7px 8px 6px 8px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #666666;
}

.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-soundcloud {
    padding: 7px 8px 6px 8px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #666666;
}

.fa-soundcloud:hover {
    background-color: #f8520f;
}

.fa-google-plus {
    padding: 7px 8px 6px 8px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-google-plus:hover {
    background-color: #e25714;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a {
    color: #4c4c4d !important;
    cursor: default;
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    border-bottom-color: transparent !important;
}

.nav-tabs{
    background: inherit !important;
}

#tabs .thumbnail:before,
#tabs .thumbnail:after,
#tabs .thumbnail img:before,
#tabs .thumbnail img:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    transition: border-color .3s;
}

#tabs .thumbnail:before {
    top: -1px;
    left: -1px;
    border-width: 2px 0 0 2px !important;
}

#tabs .thumbnail:after {
    top: -1px;
    right: -1px;
    border-width: 2px 2px 0 0 !important;;
}

#tabs .thumbnail img:before {
    bottom: -1px;
    left: -1px;
    border-width: 0 0 2px 2px !important;
}

#tabs .thumbnail img:after {
    bottom: -1px;
    right: -1px;
    border-width: 0 2px 2px 0 !important;
}

/* li:hover */
#tabs .thumbnail:hover {
    z-index: 2;
}

#tabs .thumbnail:hover:before,
#tabs .thumbnail:hover:after,
#tabs .thumbnail:hover img:before,
#tabs .thumbnail:hover img:after {
    border-color: rgb(245, 135, 53) !important;
}


/* Preview */
#tabs .preview {
    opacity: 0;
    position: absolute;
    left: 40px;
    right: 40px;
    top: 0;
    line-height: 32px;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: .2s;
    font-weight: bold;
}

#tabs .preview:focus{
    outline: 0;
}

#tabs .preview:hover{
    outline: 0;
}

#tabs .thumbnail {
    z-index: 1;
    position: relative;
    float: left;
    margin: 20px;
    list-style: none;
}


#tabs .thumbnail:hover .preview {
    opacity: 1;
    top: 80px;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover{
    color:#333 !important;
}

.nav-tabs li a{
    color:#333 !important;
}

.produto-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.produto-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.produto-modal .modal-content img {
    height: 80% !important;
    max-height: 482px;
    width: 100%;
}

.produto-modal .modal-content .item-details {
    margin: 30px 0;
}

.produto-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.produto-modal .close-modal:hover {
    opacity: .3;
}

.produto-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.produto-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.produto-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.white{
    color: #fafafa !important;
}

#search ul.dropdown-menu{
    margin: 0 !important;
    padding: 0 !important;
    top: 70px !important;
}


.popupDetail{
    display: none;
    position: absolute;
    z-index: 9999 !important;
    left: 190px !important;
    border: 2px solid #e0e0e0;
    width: 320px !important;
    border-radius: 6px;
}
