@import url(http://fonts.googleapis.com/css?family=Pacifico);

html,
body {
	height: 100%;
	background-color: #FFFFFF;
	color: #888;
}

#main-container{
	margin-top: 70px;
}

.dropdown .dropdown-menu {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.btn-icon-only {
	padding-right: 3px;
	padding-left: 3px;
}

.navbar-inner {
	padding: 7px 0;
	background: #00ba8b !important;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.navbar .nav a {
	font-size: 14px;
}
.navbar .nav>li>a { color:#fff !important;}
.navbar .brand {
	font-weight: 600;
	position: relative;
	top: 2px;
}

.navbar .search-query {
	background-color: #444;
	width: 150px;
	font-size: 11px;
	font-weight: bold;
}

.navbar .search-query::-webkit-input-placeholder {
    color: #666;
}

.navbar .search-query:-moz-placeholder {
    color: #666;
}

.subnavbar {
	margin-bottom: 2.5em;
	box-shadow: 1px 0px 1px #888;
}
    
.subnavbar-inner {
	height: 60px;
	background: #fff;
	border-bottom: 1px solid #d6d6d6;
}

.subnavbar .container > ul {
	display: inline-block;
	height: 80px;
	padding: 0;
	margin: 0;
}

.subnavbar .container > ul > li {
	float: left;
	min-width: 90px;
	height: 60px;
	padding: 0;
	margin: 0;
	text-align: center;
	list-style: none;
	border-left: 1px solid #d9d9d9;
	
	
}

.subnavbar .container > ul > li > a {
	display: block;
	height: 100%;
	padding: 0 15px;
	font-size: 12px;
	font-weight: bold;
	color: #ff1a1a;
}

.subnavbar .container > ul > li > a:hover {
	color: #ff3333;
	text-decoration: none;
}

.subnavbar .container > ul > li > a > i {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-top: 11px;
	margin-bottom: -3px;
	font-size: 20px;
	color: #ff1a1a;
}

.subnavbar .container > ul > li > a > span {
	display: block;
}

.subnavbar .container > ul > li.active > a {
	border-bottom:3px solid #cc0000;
	color: #cc0000;
}

.subnavbar .dropdown .dropdown-menu a {
	font-size: 12px;
}

.subnavbar .dropdown .dropdown-menu {
    	text-align: left;
		-webkit-border-top-left-radius: 0;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
}

.subnavbar .dropdown-menu::before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #CCC;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 9px;
}

.subnavbar .dropdown-menu::after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	position: absolute;
	top: -6px;
	left: 10px;
}

.subnavbar .caret {
	margin-top: 4px;
	border-top-color: white;
	border-bottom-color: white;
}

.subnavbar .dropdown.open .caret {
	display: none;
}

.menu{
	margin-top: 100px;
}

.menu div{
	height: 100px;
	padding: 5px;
	margin: 19px;
	padding-top: 15px;
	background-color: #cc0000;
	color: #FFFFFF;
	-webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19) !important;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19) !important;
}

.menu a{
	text-decoration: none !important;
}

.menu div:hover{
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19) !important;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19) !important;
}

.menu div i{
	color: #FFFFFF;
}

.menu div p{
	padding: 5px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.message-success{
	background-color: #4caf50;
	color : #FFFFFF;
	font-size: 14px;
	padding: 10px;
}

.white{
	color : #FFFFFF !important;
}

.accent{
	background-color: black !important;
	color: #FFFFFF !important;
}

.accent i{
	color: #FFFFFF;
	position: relative;
	top:12px;
}

.scrollToTop{
	position: absolute !important;
	bottom: 70px;
	z-index: 10000;
	border: none !important;
	cursor: pointer;
}

.info-color{
	color: #03a9f4 !important;
}

.danger-color{
	color:#f44336 !important;
}

.warning-color{
	color:#ff5722 !important;
}

.success-color{
	color:#4caf50 !important;
}

.black{
	background-color: #080808 !important;
}

.jumbotron{
	background: #ffffff !important;
}

.delay{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#navbar-top{
	background-color: #ff3333 !important;
	box-shadow: 1px 1px 1px #888;
}

.transparent{
	color: inherit !important;
	background-color: rgba(255,255,255,.1) !important;
}

footer{
	background-color: #ff3333 !important;
	color: #FFFFFF;
}

footer p{
	padding: 10px;
	margin-top: 11px;
}

.box-shadow3{
	-webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19) !important;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19) !important;
}

.top-menu{
	margin-right: 60px;
}

.top-menu b{
	display: none;
	margin-left: 10px;
}

.top-menu li:hover i{
	color: #cc0000;
}

.top-menu i{
	display: inline;
}

#userList {
	display:none;
}

#loader {
	position:absolute;
	z-index:2;
	width:100%;
	text-align:center;
	top:40%;
}

.cap:first-letter {
	text-transform: uppercase;
}

.alt {
	background-color:#ccc;
}

#main{
	margin-top: 30px;
	padding: 10px;
}

#table-docs thead th{
	text-align: center;
}

.icon-center{
	position: relative !important;
	top: 7px !important;
}

@media (max-width: 767px) {

	.subnavbar {
		margin-left: -20px;
		margin-right: -20px;	
	}

	.subnavbar-inner {
		height: auto;
	}
	
	.subnavbar .container > ul {
		width: 100%;
		height: auto;
		
		border: none;
	}
	
	.subnavbar .container > ul > li {
		width: 33%;
		height: 70px;
		margin-bottom: 0;
		border: none;
	}
	
    
    
    .subnavbar .container > ul > li.active > a {
		font-size: 11px;
    	background: transparent;
    }
	
	.subnavbar .container > ul > li > a > i {	
		display: inline-block;	
		margin-bottom: 0;
		font-size: 20px;
	}

	.subnavbar-open-right .dropdown-menu {
		left: auto;
		right: 0;
	}
	
	.subnavbar-open-right .dropdown-menu:before {
		left: auto;
		right: 12px;
	}
	.subnavbar-open-right .dropdown-menu:after {
		left: auto;
		right: 13px;
	}
}

@media (max-width: 979px) {
	
	.navbar-fixed-top {
		margin-bottom: 0;
	}
	
	.subnavbar {
	}
	
	.subnavbar .container {		
		width: auto;
	}
}

@media (max-width: 480px) {
	footer{
		position: relative !important;
		bottom: 0 !important;
		width: 100% !important;
	}

	.menu{
		margin-top: 70px;
	}

	.top-menu{
		margin-right: 0;
	}

	.top-menu b{
		display: inline;
	}

	.top-menu i{
		display: none;
	}

	.top-menu li:hover i{
		color: #FFFFFF;
	}

	.top-menu li:hover{
		background-color: #cc0000;
	}

	.scrollToTop {
		position: relative !important;
		bottom: 25px;
		right: 10px;
	}

	.menu{
		margin-top: 30px;
	}

}
.pink{
	color: hotpink;
}

.options-img a{
	margin: 4px;
}

.btn.btn-fab > .fa{
	position: absolute !important;
	top:50% !important;
	left:50% !important;
	line-height: 24px !important;
	width: 24px !important;
	transform: translate(-12px, -12px) !important;
}

