<div class="row">

    <div class="container">
        <div class="row register-container transparent" style="margin-top: 20px;">
            <div id="register">
                <p><h2>{{produto.isUpdate ? 'Alterar':'Novo';}} Produto</h2></p>
                <p>
                <form id="new-product-form" role="form" method="post">
                    <div class="col-lg-6">
                        <div class="form-group label-static">
                            <label for="code" class="control-label">CÓDIGO</label>
                            <input type="text" class="form-control uppercase" id="code"
                                   name="code" required ng-model="produto.model.code">
                            <i class="fa fa-code form-control-feedback"></i>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group label-static">
                            <label for="name" class="control-label">NOME</label>
                            <input type="text" class="form-control" id="name"
                                   name="name" required ng-model="produto.model.name">
                            <i class="fa fa-info form-control-feedback"></i>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group label-static">
                            <label for="category" class="control-label">CATEGORIA</label>

                                <select ng-options="item._id as item.name for item in produto.categories" id="category" class="form-control" required ng-model="produto.model.category">
                                </select>
                            <i class="fa fa-list form-control-feedback"></i>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group label-static">
                            <label for="description" class="control-label">DESCRIÇÃO</label>
                            <textarea class="form-control" id="description"
                                   name="description" ng-model="produto.model.description"></textarea>
                            <i class="fa fa-info form-control-feedback"></i>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group label-static">
                            <label for="amount" class="control-label">QUANTIDADE</label>
                            <input type="number" class="form-control" id="amount"
                                   name="amount" required ng-model="produto.model.amount">
                            <i class="fa fa-sort-numeric-asc form-control-feedback"></i>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group label-static">
                            <label for="value" class="control-label">VALOR</label>
                            <input type="text" class="form-control" id="value" name="value" required ng-model="produto.model.value" co-moeda>
                            <i class="fa fa-dollar form-control-feedback"></i>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group label-static text-center">
                            <button id="btn-signup" ng-click="produto.onClick()" href="javascript:void(0)"
                                    class="btn btn-raised btn-info">{{produto.isUpdate ? 'Alterar':'Cadastrar';}}
                            </button>
                        </div>
                    </div>
                </form>
                </p>

            </div>

        </div>
    </div>
</div>