<div class="row">
    <div class="container">
        <p>
            <div class="col-lg-4 pull-right"  ng-hide="!estoque.showGrid">
                <div class="form-group label-static">
                    <label for="search" class="control-label">PROCURAR</label>
                    <input type="text" class="form-control" id="search"
                           name="soldAmount" ng-model="search">
                    <i class="fa fa-2x fa-search form-control-feedback"></i>
                </div>
            </div>
        </p>
        <div class="col-xs-12">
            <div class="table-responsive user" style="margin-top: 20px;">
                <p><h2 class="text-center">{{estoque.showGrid && !search && (estoque.products | filter:search).length >= 0? 'Estoque de produtos': !search ? 'Nenhum produto em estoque!' : (estoque.products | filter:search).length <= 0 ? 'Nenhum produto com ' + search + ' foi encontrado!':''}}</h2></p>
                <table class="text-center" ng-show="estoque.showGrid" ng-hide="!estoque.showGrid">
                    <thead ng-hide="(estoque.products | filter:search).length <= 0">
                        <th></th>
                        <th>Status</th>
                        <th>Código</th>
                        <th>Categoria</th>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                        <th colspan="4">Ações</th>
                    </thead>
                    <tbody>
                    <tr ng-class="p.amount <= 0?'alert-danger':''" ng-repeat="p in estoque.products | filter:search" ng-class-odd="'alt'">
                        <td class="col-xs-1"><a href="javascript:void(0)" ng-click="estoque.atualizarDestaque(p)"><i class="{{p.situation.status == 'EM DESTAQUE' ? 'fa fa-star yellow' : 'fa fa-star-o'}}" aria-hidden="true"></i></a></td>
                        <td class="col-xs-2 cap fa-m"><a ng-click="estoque.getProduct(p)" data-toggle="modal" data-target="#modal-status" href="javascript:void(0)">{{p.situation.status == 'EM DESTAQUE' ? 'ATIVO' : p.situation.status}}&nbsp;<i class="fa fa-1x fa-hand-o-up"></i></a></td>
                        <td class="col-xs-2 cap fa-m">{{p.code}}</td>
                        <td class="col-xs-2 cap">{{p.category.name}}</td>
                        <td class="col-xs-2 cap">{{p.name}}</td>
                        <td class="col-xs-2 cap">{{p.amount}}</td>
                        <td class="col-xs-2 cap">R{{p.value | currency}}</td>
                        <td class="col-xs-1"><a href="javascript:void(0)" ng-click="estoque.goToPage('/image/',p)"><i class="fa fa-2x fa-image"></i></a></td>
                        <td class="col-xs-1"><a href="javascript:void(0)" ng-click="estoque.goToPage('/upload/',p)"><i class="fa fa-2x fa-upload"></i></a></td>
                        <td class="col-xs-1"><a ng-click="estoque.goToChanges('/produto/alterar',p)" href="javascript:void(0)"><i class="fa fa-2x fa-pencil"></i></a></td>
                        <td class="col-xs-1"><a ng-click="estoque.getProduct(p)" data-toggle="modal" data-target="#modal-delete-user" href="javascript:void(0)"><i class="fa fa-2x fa-trash"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal" id="modal-delete-user">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Alerta de confirmação</h4>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza que deseja remover o produto {{estoque.product.name}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" data-dismiss="modal" ng-click="estoque.onClickDelete()" class="btn btn-primary btn-delete">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal-status">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">{{estoque.product.amount <= 0? 'Este produto está fora de estoque!' : 'Realizar venda' }}</h4>
                    </div>
                    <div class="modal-body">

                        <table class="text-left">
                            <thead>
                                <th></th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="col-lg-3">
                                            <div class="form-group label-static">
                                                <label for="soldAmount" class="control-label">QTD.</label>
                                                <input type="number" class="form-control" id="soldAmount"
                                                       name="soldAmount" required ng-model="estoque.product.sold.amount">
                                                <i class="fa fa-sort-numeric-asc form-control-feedback"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="form-group label-static">
                                                <label for="soldDescription" class="control-label">DESCRIÇÃO</label>
                                                <input type="text" class="form-control" id="soldDescription"
                                                       name="soldDescription" ng-model="estoque.product.sold.description" required>
                                                <i class="fa fa-info form-control-feedback"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-lg-4">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" ng-model="estoque.isDescont"><span class="toggle"></span>
                                                    Desconto
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group label-static">
                                                <label for="percent" class="control-label">%</label>
                                                <input ng-disabled="!estoque.isDescont" type="text" class="form-control" id="percent" ng-required="estoque.isDescont"
                                                       name="percent" ng-model="estoque.product.sold.percent">
                                                <i class="fa fa-info form-control-feedback"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" ng-disabled="estoque.product.amount <= 0" data-dismiss="modal" ng-click="estoque.atualizarStatus()" class="btn btn-primary btn-delete">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div><!--/row-->
