<!DOCTYPE html>
<html lang="pt" ng-app="ecommerce-admin">
<head>
    <meta charset="utf-8">
    <!--<base href="/">-->

    <title><%- DATA.titulo %> </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Bootstrap core CSS -->
    <link href="../assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="../assets/bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
    <link href="../assets/bower_components/AngularJS-Toaster/toaster.min.css" rel="stylesheet">
    <link href="../assets/bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">
    <link href="../assets/css/repeatAnimation.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/admin.css" rel="stylesheet">

    <!-- FONTS -->
    <link rel="stylesheet" href="../assets/bower_components/font-awesome/css/font-awesome.min.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <script src="../assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-controller="AppController as app">
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand font-extra" style="font-size: 40px;margin-left: 20px;" ng-link="dashboard"></a>
        </div>
        <!-- Top Menu Items -->
        <ul class="collapse navbar-collapse navbar-ex1-collapsen nav navbar-right top-nav" style="margin-right: 10px;">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><b> <%- DATA.user.username%></b> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)" onclick="location.href = '/logout';"><i class="fa fa-fw fa-power-off"></i> Sair</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav" id="side-nav">
                <li class="active">
                    <a href="#" ng-link="dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#produtos"><i class="fa fa-fw fa-product-hunt"></i> Produtos <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="produtos" class="collapse">
                        <li>
                            <a href="javascript:void(0)" ng-link="categoria">Categoria</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ng-link="produto({req:'cadastrar'})">Novo</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ng-link="estoque">Estoque</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-link="venda"><i class="fa fa-fw fa-list-ul"></i> Vendas</a>
                </li>


                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#clientes"><i class="fa fa-fw fa-user"></i> Clientes <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="clientes" class="collapse">
                        <li>
                            <a href="javascript:void(0)" ng-link="cliente({req:'cadastrar'})">Novo</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ng-link="listarcliente">Listar</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#usuarios"><i class="fa fa-fw fa-group"></i> Grupo de acesso <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="usuarios" class="collapse">
                        <li>
                            <a href="javascript:void(0)" ng-link="usuario({req:'cadastrar'})">Novo</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ng-link="listar">Listar</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container">
            <toaster-container toaster-options="{'close-button': true}"></toaster-container>
            <span style="z-index: 9999;" us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
        </div>

        <div class="container-fluid" id="main" ng-viewport>
            <h3 style="position: relative;top: 150px;margin: auto;">Bem vindo ao Good fit Store!</h3>


        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

    <!--<>-->

    <!--</div>-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="../assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../assets/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script src="../assets/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
<script src="../assets/bower_components/angular/angular.min.js"></script>
<script src="../assets/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../assets/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../assets/bower_components/angular-new-router/dist/router.es5.min.js"></script>
<script src="../assets/bower_components/AngularJS-Toaster/toaster.min.js"></script>
<script src="../assets/bower_components/jquery-maskmoney/dist/jquery.maskMoney.min.js"></script>
<script src="../assets/js/angularFileUpload.js"></script>
<script src="../assets/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="../assets/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="../assets/js/excanvas.min.js"></script>
<script src="../assets/js/angularFileUploadShim.js"></script>
<script src="../assets/js/jquery.maskedinput.min.js"></script>
<script src="../assets/js/price-format.js"></script>
<script src="../assets/js/tableExport.js"></script>
<script src="../assets/js/jquery.base64.js"></script>
<script src="../assets/js/libs/sprintf.js"></script></body>
<script src="../assets/js/jspdf.js"></script>
<script src="../assets/js/libs/base64.js"></script>
<script src="../assets/bower_components/spin.js/spin.js"></script>
<script src="../assets/bower_components/angular-spinner/angular-spinner.js"></script>

<script src="app/services/appServices.js"></script>
<script src="app/directives/formDirectives.js"></script>

<script src="../components/dashboard/dashboard.js"></script>
<script src="../components/produto/produto.js"></script>
<script src="../components/estoque/estoque.js"></script>
<script src="../components/listar/listar.js"></script>
<script src="../components/categoria/categoria.js"></script>
<script src="../components/upload/upload.js"></script>
<script src="../components/image/image.js"></script>
<script src="../components/venda/venda.js"></script>
<script src="../components/cliente/cliente.js"></script>
<script src="../components/listarcliente/listarcliente.js"></script>
<script src="../components/usuario/usuario.js"></script>

<script src="app/app.js"></script>



</body>
</html>