<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Estoque">
    <meta name="author" content="Vinícius Montanheiro">
    <link rel="icon" href="../../favicon.ico">

    <title><%- DATA.titulo %></title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- FONTS -->
    <link rel="stylesheet" href="../assets/bower_components/font-awesome/css/font-awesome.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/css/login.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <script src="../assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <% if(CODE == 500){ %>
    <div class="message-error box-shadow3 message-close"><%- MESSAGE %> <i class="fa fa-close pull-right"></i></div>
    <%}%>

    <!-- LOGIN FORM -->
    <div class="text-center box-login">
        <!-- Main Form -->
        <div class="login-form-1">
            <form id="login-form" class="text-left" method="post" action="/login">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            <label for="username" class="sr-only">Usuário</label>
                            <i class="fa fa-sign-in form-control-feedback"></i>
                            <input type="text" class="form-control" id="username" name="username" placeholder="usuário">

                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Senha</label>
                            <i class="fa fa-key form-control-feedback"></i>
                            <input type="password" class="form-control" id="password" name="password" placeholder="senha">
                        </div>
                    </div>
                    <button type="submit" class="login-button" href="javascript:void(0)"><i class="fa fa-chevron-right"></i></button>
                </div>
            </form>
        </div>
        <!-- end:Main Form -->
    </div>
</div><!-- END CONTAINER -->
<div class="row">
    <div class="container">
        <div class="text-center">
            <div class="logo"><img src="../assets/images/logo.png"></div>
        </div>
            <div class="text-center loading">
                <img src="../assets/images/login-spinner.gif"/>
            </div>
    </div>
</div>
<footer style="position: absolute;bottom: 0px;">
    <div class="container">
        <div class="text-center">
            <p>&copy; 2016 Good Fit - Todos os direitos reservados - powered by Coder Up!</p>
        </div>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="../assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.min.js"><\/script>')</script>
<!--<script src="../assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="../assets/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="../assets/bower_components/jquery-validation/dist/additional-methods.min.js"></script>
<script src="../assets/js/scrolling-nav.js"></script>

</body>
</html>