<!DOCTYPE html>
<html lang="pt" ng-app="goodfit">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Vinícius Montanheiro">

    <title>Good Fit</title>

    <!-- Bootstrap Core CSS -->
    <link href="../assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css"
          rel="stylesheet">
    <link href="../assets/bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
    <link href="../assets/bower_components/AngularJS-Toaster/toaster.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../assets/bower_components/font-awesome/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="../assets/css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <script src="../assets/js/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="AppController"
      ng-init="listarProdutos()">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top delay" role="navigation" id="header">
    <img id="bk-header" class="img-responsive delay" src="../assets/images/bk-header.png"/>
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle btn-mobile" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img id="logo" class="img-responsive delay"
                                                                      src="../assets/images/logo.png"></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right menu">
                <li>
                    <a class="page-scroll neouBold delay" href="#products">Nossos Produtos</a>
                </li>
                <li>
                    <a class="page-scroll neouBold delay" href="#about">Conheça a Good Fit</a>
                </li>
                <li>
                    <a class="page-scroll neouBold delay" href="#contact">Faça seu pedido</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container -->
</nav>

<div id="carousel" class="carousel slide" data-ride="carousel"  ng-if="slideshow.length >= 1">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" ng-repeat="s in slideshow track by $index" data-slide-to="{{$index}}" class="{{$index==0 ? 'active' : ''}}" ng-if="s.slideshow"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item {{$index==0 ? 'active' : ''}}"
             ng-repeat="s in slideshow track by $index">
            <img ng-src="assets/images/uploads/{{s.image.filename}}" alt="{{s.image.filename}}"
                 class="img-responsive img-centered" ng-if="s.slideshow && s.ativo">
        </div>
    </div>

</div>

<!-- Intro Section -->
<section id="products" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="neouBold">Nossos Produtos</h3>
                <p><h4 style="color: #777;" class="normal">Conheça os produtos e faça seu pedido no formulário
                abaixo</h4></p>
                <div class="row">
                    <div class="col-md-3 pull-right" id="search">
                        <i class="fa fa-search pull-right" style="position: relative;top: 35px;right: 10px;"></i>
                        <input type="text" ng-model="search" placeholder="Localizar produto"
                               uib-typeahead="state as state.name for state in produtos | filter:{name:$viewValue}"
                               typeahead-template-url="customTemplate.html" class="form-control"
                               typeahead-show-hint="false" typeahead-min-length="1"/>
                    </div>
                </div>

                <uib-tabset active="active" id="tabs">

                    <uib-tab index="$index" ng-repeat="tab in categorias track by $index" heading="{{tab.name}}">
                        <div class="row" style="margin-top: 20px;">

                            <div class="col-sm-3 col-md-3 itens {{$parent.$index == 1  ? 'alinhar':''}}" ng-repeat="p in tab.produtos track by $index">

                                <div class="thumbnail">

                                    <a href="#produtoModal" class='preview' data-toggle="modal" ng-click="detalhar(p)">
                                        <i class="fa fa-search-plus fa-3x" style="color: #4c4c4d !important" aria-hidden="true"></i>
                                    </a>
                                    <a href="#"  ng-mouseover="popoverShow($event,p)" ng-mouseleave="popoverHide()">
                                    <img ng-repeat="i in p.photos" ng-if="i.principal && i.ativo"
                                         ng-src="assets/images/uploads/{{i.image.filename}}" class="img-responsive">
                                    <div class="caption">
                                        <h5 class="normal">{{p.name}}</h5>
                                        <h5><p class="neouBold text-left">{{p.value | currency:'R$'}}</p></h5>
                                    </div>
                                    </a>
                                </div>
                                <img class="img-responsive popupDetail" ng-src="assets/images/uploads/{{tabelaUrl}}">

                            </div>

                        </div>
                    </uib-tab>
                </uib-tabset>


            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="about-section parallax-window" data-parallax="scroll"
         data-image-src="../assets/images/aboutus.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="neouBold">Conheça a Good Fit</h2>
                <hr class="star-light">
                </br>
                </br>
                <div class="row" style="padding: 15px;">
                    <center>
                        <p class="normal text-left" style="font-size: 16px;">Pensando em uma vida mais saudável, a Good
                            Fit criou produtos saborosos para deixar seu dia a dia mais prático e gostoso. Utilizamos
                            produtos de alta qualidade.Todos os sabores possuem whey protein e dextrose e o melhor, são
                            ZERO açúcar, lactose, glúten, soja e conservantes!
                            </br></br>Você pode consumir nossos produtos em pães, torradas, panquecas, crepiocas,
                            tapiocas, etc.Deixe suas refeições ainda mais deliciosas sem sair da dieta com os produtos
                            da Good Fit. Faça seu pedido e prove! </br>Por não conter conservante, todos os produtos
                            devem ficar refrigerados.</p>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <toaster-container class="pull-right" toaster-options="{'close-button': true}" style=";margin-top: 40px;"></toaster-container>
</div>

<!-- Contact Section -->
<section id="contact" class="contact-section parallax2-window" data-parallax="scroll"
         data-image-src="../assets/images/bk-footer.png">
    <div class="container">

        <a href="#page-top" class="page-scroll delay back-to-top box-shadow3"></a>

        <div class="row contact-box">
            <div class="col-lg-12">
                </br>
                <div class="row">
                    <div class="col-md-6 contact-info text-left" style="position: relative;top: 90px;">
                        <p style=" word-wrap: break-word;font-size: 14px;" class="normal">
                            Entregamos em Curitiba e Região Metropolitana, consulte-nos para informações sobre prazo e
                            taxa de entrega. Para sua segurança, o pagamento será realizado diretamente pelo Pag Seguro
                            UOL.
                        </p>
                        <h3 class="neouBold">Contato</h3>
                        </br>
                        <p>
                        <ul class="info">
                            <li class="normal"><b class="normal">Telefone :</b> (41) 9570-6067 <i
                                    class="fa fa-phone"></i></li>
                            <li class="normal"><b class="normal">E-mail :</b> contato@goodfitstore.com.br <i
                                    class="fa fa-envelope"></i></li>
                        </ul>
                        </p>
                        </br>
                        <p>
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/Good-Fit-Store-1259827154032153" class="social-icon">
                                <i class="fa fa-2x fa-facebook"></i></a></li>
                            <li><a href="#" class="social-icon"> <i class="fa fa-2x fa-instagram"></i></a></li>
                        </ul>
                        </p>
                    </div>
                    <div class="col-md-6" id="form-contato">
                        <h3 class="neouBold">Faça seu pedido ou tire suas dúvidas</h3>

                        <form method="post" id="contact-form">

                            <div class="form-group">
                                <button type="submit"  id="send"
                                   class="btn btn-fab btn-success pull-right box-shadow1 primary-bk"><i
                                        class="fa fa-f fa-send"></i></button>

                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label label-left neouBold" for="name">Nome</label>
                                <input type="text" id="name" class="form-control" name="name" ng-model="contato.name">*
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label label-left neouBold" for="email">E-mail</label>
                                <input type="text" id="email" class="form-control" name="email"  ng-model="contato.email">*
                                <i class="fa fa-envelope form-control-feedback"></i>
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label label-left neouBold" for="phone">Telefone</label>
                                <input type="text" id="phone" class="form-control" name="phone"  ng-model="contato.phone">
                                <i class="fa fa-phone form-control-feedback"></i>
                            </div>

                            <div class="form-group label-floating">
                                <label class="control-label label-left neouBold" for="message">Mensagem</label>
                                <textarea type="text" id="message" class="form-control" name="message"  ng-model="contato.message"></textarea>*
                                <i class="fa fa-info form-control-feedback"></i>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<section class="footer primary-bk">
    <div class="container">
        <div class="text-center neouBold" style="padding-top: 35px;">&copy; 2016 Good Fit - Todos os direitos
            reservados
        </div>
    </div>
</section>

<!-- Modal -->
<div class="produto-modal modal fade" id="produtoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <a class="close-modal" data-dismiss="modal" ng-click="fechar()">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </a>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>{{produto.name}}</h3>
                        </br>
                        <div id="carouselProduto" class="carousel slide" data-ride="carousel"
                             ng-if="imagens.length >= 1">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item {{$index==0 ? 'active' : ''}}"
                                     ng-repeat="p in imagens track by $index">
                                    <img ng-src="assets/images/uploads/{{p.image.filename}}" alt="{{p.image.filename}}"
                                         class="img-responsive img-centered">
                                </div>
                            </div>

                            <a class="left carousel-control" href="#carouselProduto" role="button" data-slide="prev"
                               ng-hide="imagens.length <= 1">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carouselProduto" role="button" data-slide="next"
                               ng-hide="imagens.length <= 1">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <p style="margin-top: 20px">
                        <h4 class="normal" style="font-size: 16px;">
                            {{produto.description}}
                        </h4></p>
                        <button type="button" class="btn btn-default neouBold" data-dismiss="modal"  ng-click="fechar()"><i
                                class="fa fa-times"></i> Fechar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="customTemplate.html">
    <a href="#produtoModal" data-toggle="modal">
        <img ng-src="assets/images/uploads/{{match.model.photos[0].image.filename}}" width="50" height="50"
             ng-click="detalhar(match.model)">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query" ng-click="detalhar(match.model)"></span>
    </a>
</script>


<!-- jQuery -->
<script src="../assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="../assets/js/parallax.min.js"></script>
<script src="../assets/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="../assets/bower_components/jquery-validation/dist/additional-methods.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../assets/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
<script src="../assets/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>

<script src="../assets/bower_components/angular/angular.min.js"></script>
<script src="../assets/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../assets/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../assets/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="../assets/bower_components/AngularJS-Toaster/toaster.min.js"></script>
<script src="../assets/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>


<script src="app/services/appServices.js"></script>
<script src="app/directives/formDirectives.js"></script>

<!-- Scrolling Nav JavaScript -->
<script src="../assets/js/jquery.easing.min.js"></script>
<script src="../assets/js/scrolling-nav.js"></script>
<script src="app/goodfit.js"></script>

</body>

</html>
