<div class="col-lg-12">
    </br>
    <div class="row produto">

        <div class="col-md-6">
            <p>
            <h3 class="neouBold text-left">Nome produto</h3></p>
            <img src="../assets/images/doces.jpg">

        </div>
        <div class="col-md-6">

            <p style=" word-wrap: break-word;font-size: 14px;" class="neouBold">
                qweqwewqeqweqweqwqweqweqweqwewq
            </p>
        </div>
    </div>

</div>