<div class="row">
    <div class="container">

        <div class="col-xs-12">
            <p><h2>Upload de imagens</h2></p>

            <div class="col-lg-6">
                <div class="form-group" id="multiple">
                    <center style="position: relative;top: 15px;">
                    <label for="upload" class="control-label"> <h4>Selecionar imagem</h4></label>

                    <p><input type="file" ng-file-select="upload.uploadService.onFileSelect($files)" class="form-control" id="upload"
                           name="upload" multiple="3"></p>

                    <p><i class="fa fa-upload fa-3x"></i></p>
                        </center>
                </div>
            </div>

            <div class="col-lg-6">
                <div id="drop-box" ng-file-drop="upload.uploadService.onFileSelect($files);">
                    <center>
                        <label>
                            <p><h4>ou solte o arquivo aqui</h4></p>
                            <br>
                            <p><i class="fa fa-upload fa-3x"></i></p>
                        </label>
                    </center>
                </div>

            </div>
        </div>

        <div class="row">
            <div ng-show="upload.uploadService.selectedFiles != null" id="image-box">
                <div class="col-lg-3" ng-repeat="f in upload.uploadService.selectedFiles">

                    <a  href="javascript:void(0)" ng-hide="!upload.productId" class="preview" ng-click="upload.uploadService.start($index,upload.productId,'upload')" ng-show="upload.uploadService.progress[$index] < 0">
                        <i class="fa fa-3x fa-play" style="color: #1b926c;"></i></a>

                    <a href="javascript:void(0)" class="preview" ng-click="upload.uploadService.abort($index)" ng-show="upload.uploadService.hasUploader($index) && upload.uploadService.progress[$index] < 100">
                        <i class="fa fa-3x fa-stop" style="color: red;"></i>
                    </a>
                    <img width="290" height="180" ng-show="upload.uploadService.dataUrls[$index]" ng-src="{{upload.uploadService.dataUrls[$index]}}">
                    <div class="progress" id="progress"  ng-show="upload.uploadService.progress[$index] >= 0">
                        <div class="progress-bar progress-bar-success" style="width: {{upload.uploadService.progress[$index]}}%"></div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
