<div class="row">
    <div class="container">
         
        <div class="row">
            <h2 class="col">Usuários</h2>
            
            <a href="javascript:void(0)" class="btn btn-primary btn-fab" ng-link="userform({action:'add',id:0})"><i class="fa fa-plus"></i></a>
            
            <div class="col col-lg-4 pull-right">
                <div class="form-group label-static">
                    <label for="search" class="control-label">Buscar</label>
                    <input type="text" class="form-control" id="search" name="search" ng-model="search">
                    <i class="fa fa-2x fa-search form-control-feedback"></i>
                </div>
            </div>
        </div>
        
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="u in userlist.users | filter:search">
                    <td>{{u.name}}</td>
                    <td>{{u.email}}</td>
                    <td mask>{{u.phone}}</td>
                    <td>
                         <div class="btn-group">
                            <a href="javascript:void(0)" class="btn btn-default btn-fab btn-fab-mini" ng-click="userform({action:'edit',id:u._id})"><i class="fa fa-pencil" ></i></a>
                            <a href="javascript:void(0)" class="btn btn-danger btn-fab btn-fab-mini" data-toggle="modal" data-target="#modal-delete-user" ng-click="userlist.user = u"><i class="fa fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p ng-hide="userlist.users.length != 0"> Nenhum usuário encontrado!</p>
        
        
        <!----------------------------------------------------------------
         //-- Modal para confirmar deletar usuario
         ------------------------------------------------------------------>
        <div class="modal" id="modal-delete-user">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Atenção</h4>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza que deseja remover o usuário <b>{{userlist.user.name}}?</b></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" data-dismiss="modal" ng-click="userlist.onClickDelete()" class="btn btn-primary btn-delete">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
