<div class="row">
    <div class="container">
        <div class="col-lg-6 pull-left">
        <p class="text-center"><h1>{{!dashboard.showProducts && !dashboard.showSales && !dashboard.showCategories && !dashboard.showClients && !dashboard.showUsers && !dashboard.showImages?'Nenhuma alteração foi realizada':'Histórico de Alterações'}}</h1></p>
        </div>
        <p>
            <div class="col-lg-4 pull-right"  ng-hide="!dashboard.showProducts && !dashboard.showSales && !dashboard.showCategories && !dashboard.showClients && !dashboard.showUsers && !dashboard.showImages">
                <div class="form-group label-static">
                    <label for="search" class="control-label">PROCURAR</label>
                    <input type="text" class="form-control" id="search"
                           name="search" ng-model="search">
                    <i class="fa fa-2x fa-search form-control-feedback"></i>
                </div>
            </div>
        </p>
        <div class="col-xs-12">
            <div class="table-responsive user" style="margin-top: 20px;">
                <br>
                <p><h2 class="text-center">{{dashboard.showProducts && !(dashboard.products | filter:search).length <= 0? 'Produtos':  ''}}</h2></p>
                <table class="text-center" ng-show="dashboard.showProducts" ng-hide="!dashboard.showProducts">
                    <thead ng-hide="(dashboard.products | filter:search).length <= 0">
                    <th>Ação</th>
                    <th>Data/Hora</th>
                    <th>Código</th>
                    <th>Produto</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Valor</th>
                    <th>Modificado por</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="p in dashboard.products | filter:search"  ng-class-odd="'alt'">
                        <td class="col-xs-1 cap">{{p.action == 'CREATED' ? 'CRIADO' : p.action =='REMOVED' ?'REMOVIDO' : p.action == 'UPDATED' ? 'ALTERADO' : '-'}}</td>
                        <td class="col-xs-1 cap">{{p.createDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td class="col-xs-1 cap">{{p.entity.code}}</td>
                        <td class="col-xs-1 cap">{{p.entity.name}}</td>
                        <td class="col-xs-1 cap">{{p.entity.description || "-"}}</td>
                        <td class="col-xs-1 cap">{{p.entity.amount}}</td>
                        <td class="col-xs-1 cap">R{{p.entity.value | currency}}</td>
                        <td class="col-xs-1 cap">{{p.user.name}}</td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <p><h2 class="text-center">{{dashboard.showSales && !(dashboard.sales | filter:search).length <= 0? 'Vendas':  ''}}</h2></p>
                <table class="text-center" ng-show="dashboard.showSales" ng-hide="!dashboard.showSales">
                    <thead ng-hide="(dashboard.sales | filter:search).length <= 0">
                    <th>Ação</th>
                    <th>Data/Hora</th>
                    <th>ID do Produto</th>
                    <th>Quantidade</th>
                    <th>Valor</th>
                    <th>Descrição</th>
                    <th>Modificado por</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="s in dashboard.sales | filter:search"  ng-class-odd="'alt'">
                        <td class="col-xs-1 cap">{{s.action == 'CREATED' ? 'VENDIDO' : s.action =='REMOVED' ?'CANCELADA' : s.action == 'UPDATED' ? 'ALTERADA' : '-'}}</td>
                        <td class="col-xs-1 cap">{{s.createDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td class="col-xs-1 cap">{{s.entity.product}}</td>
                        <td class="col-xs-1 cap">{{s.entity.amount}}</td>
                        <td class="col-xs-1 cap">R{{s.entity.value | currency}}</td>
                        <td class="col-xs-1 cap">{{s.entity.description}}</td>
                        <td class="col-xs-1 cap">{{s.user.name}}</td>
                    </tr>
                    </tbody>
                </table>
                <br>

                <p><h2 class="text-center">{{dashboard.showCategories && !(dashboard.categories | filter:search).length <= 0? 'Categorias':  ''}}</h2></p>
                <table class="text-center" ng-show="dashboard.showCategories" ng-hide="!dashboard.showCategories">
                    <thead ng-hide="(dashboard.categories | filter:search).length <= 0">
                    <th>Ação</th>
                    <th>Data/Hora</th>
                    <th>Código</th>
                    <th>Categoria</th>
                    <th colspan="2">Modificado por</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="c in dashboard.categories | filter:search"  ng-class-odd="'alt'">
                        <td class="col-xs-1 cap">{{c.action == 'CREATED' ? 'CRIADA' : c.action =='REMOVED' ?'REMOVIDA' : c.action == 'UPDATED' ? 'ALTERADA' : '-'}}</td>
                        <td class="col-xs-1 cap">{{c.createDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td class="col-xs-1 cap">{{c.entity.code}}</td>
                        <td class="col-xs-1 cap">{{c.entity.name}}</td>
                        <td class="col-xs-1 cap">{{c.user.username}}</td>
                        <td class="col-xs-1 cap">{{c.user.name}}</td>
                    </tr>
                    </tbody>
                </table>

                <br>

                <p><h2 class="text-center">{{dashboard.showClients && !(dashboard.clients | filter:search).length <= 0? 'Clientes':  ''}}</h2></p>
                <table class="text-center" ng-show="dashboard.showClients" ng-hide="!dashboard.showClients">
                    <thead ng-hide="(dashboard.clients | filter:search).length <= 0">
                    <th>Ação</th>
                    <th>Data/Hora</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th>Description</th>
                    <th>Modificado por</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="c in dashboard.clients | filter:search"  ng-class-odd="'alt'">
                        <td class="col-xs-1 cap">{{c.action == 'CREATED' ? 'CRIADO' : c.action =='REMOVED' ?'REMOVIDO' : c.action == 'UPDATED' ? 'ALTERADO' : '-'}}</td>
                        <td class="col-xs-1 cap">{{c.createDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td class="col-xs-1 cap">{{c.entity.name}}</td>
                        <td class="col-xs-1 cap">{{c.entity.email}}</td>
                        <td class="col-xs-1 cap">{{c.entity.phone}}</td>
                        <td class="col-xs-1 cap">{{c.entity.description}}</td>
                        <td class="col-xs-1 cap">{{c.user.name}}</td>
                    </tr>
                    </tbody>
                </table>

        <br>

                <p><h2 class="text-center">{{dashboard.showUsers && !(dashboard.users | filter:search).length <= 0? 'Usuários':  ''}}</h2></p>
                <table class="text-center" ng-show="dashboard.showUsers" ng-hide="!dashboard.showUsers">
                    <thead ng-hide="(dashboard.users | filter:search).length <= 0">
                    <th>Ação</th>
                    <th>Data/Hora</th>
                    <th>Usuário</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th>Modificado por</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="u in dashboard.users | filter:search"  ng-class-odd="'alt'">
                        <td class="col-xs-1 cap">{{u.action == 'CREATED' ? 'CRIADO' : u.action =='REMOVED' ?'REMOVIDO' : u.action == 'UPDATED' ? 'ALTERADO' : '-'}}</td>
                        <td class="col-xs-1 cap">{{u.createDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td class="col-xs-1 cap">{{u.entity.username}}</td>
                        <td class="col-xs-1 cap">{{u.entity.name}}</td>
                        <td class="col-xs-1 cap">{{u.entity.email}}</td>
                        <td class="col-xs-1 cap">{{u.entity.phone}}</td>
                        <td class="col-xs-1 cap">{{u.user.name}}</td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <p><h2 class="text-center">{{dashboard.showImages && !(dashboard.images | filter:search).length <= 0? 'Imagens':  ''}}</h2></p>
                <table class="text-center" ng-show="dashboard.showImages" ng-hide="!dashboard.showImages">
                    <thead ng-hide="(dashboard.images | filter:search).length <= 0">
                    <th>Ação</th>
                    <th>Data/Hora</th>
                    <th>Nome do Arquivo</th>
                    <th>Tamanho</th>
                    <th colspan="2">Modificado por</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="i in dashboard.images | filter:search"  ng-class-odd="'alt'">
                        <td class="col-xs-1 cap">{{i.action == 'CREATED' ? 'CRIADA' : i.action =='REMOVED' ?'REMOVIDA' : i.action == 'UPDATED' ? 'ALTERADA' : '-'}}</td>
                        <td class="col-xs-1 cap">{{i.createDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td class="col-xs-1 cap">{{i.entity.image.filename}}</td>
                        <td class="col-xs-1 cap">{{i.entity.image.size}}</td>
                        <td class="col-xs-1 cap">{{i.user.username}}</td>
                        <td class="col-xs-1 cap">{{i.user.name}}</td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <br>
            </div>
        </div>

    </div>
</div>
