<div class="container-fluid">
    <div class="row" id="profile-grid">
        <p><h2>{{image.photos <= 0 ? 'Nenhuma imagem foi adicionada a este produto!' : 'Imagens do produto';}}</h2></p>
        <div class="col-sm-3 col-xs-12 profile" ng-repeat="i in image.photos">
            <div class="panel panel-default">
                <div class="panel-thumbnail">
                    <a href="javascript:void(0)" class="thumb">
                        <img style="width: 380px !important;height: 250px !important;" width="380" height="215" ng-src="assets/images/uploads/{{i.image.filename}}"
                             class="img-responsive img-rounded" data-toggle="modal" data-target=".modal-profile-lg">
                    </a>
                </div>
                <div class="panel-body">
                    <p class="profile-name options-img">
                        <a alt="Ativação da imagem" href="javascript:void(0)" ng-click="image.ativarImagem(i)"><i class="{{i.ativo ? 'fa fa-circle fa-2x green' : 'fa  fa-circle-o fa-2x'}}" aria-hidden="true"></i></a>
                        <a alt="Imagem principal do produto" href="javascript:void(0)" ng-click="image.atualizarImagemPrincipal(i)"><i class="{{i.principal ? 'fa fa-star fa-2x yellow' : 'fa fa-star-o fa-2x'}}" aria-hidden="true"></i></a>
                        <a alt="Colocar no slide show" href="javascript:void(0)" ng-click="image.atualizarImagemSlide(i)"><i class="{{i.slideshow ? 'fa fa-picture-o fa-2x red' : 'fa fa-picture-o fa-2x'}}" aria-hidden="true"></i></a>
                        <a alt="Definir tabela nutricional" href="javascript:void(0)" ng-click="image.definirTabelaNutricional(i)"><i class="{{i.tnutricional ? 'fa fa-list-alt fa-2x pink' : 'fa fa-list fa-2x'}}" aria-hidden="true"></i></a>
                        <a ng-click="image.getImage(i)" data-toggle="modal" data-target="#modal-delete-image" alt="Remover imagem" href="javascript:void(0)"><i class="fa fa-2x fa-trash"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- .modal-profile -->
    <div class="modal fade modal-profile" tabindex="-1" role="dialog" aria-labelledby="modalProfile" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">×</button>
                    <h3 class="modal-title"></h3>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>

        </div>
    </div>
    <!-- //.modal-profile -->
    <div class="modal" id="modal-delete-image">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Alerta de confirmação</h4>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja remover esta imagem ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" data-dismiss="modal" ng-click="image.onClickDelete()" class="btn btn-primary btn-delete">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>