<div class="row">
    <div class="container">
        <p>
        <div class="col-lg-4 pull-right"  ng-hide="!listarcliente.showGrid">
            <div class="form-group label-static">
                <label for="search" class="control-label">PROCURAR</label>
                <input type="text" class="form-control" id="search"
                       name="search" ng-model="search">
                <i class="fa fa-2x fa-search form-control-feedback"></i>
            </div>
        </div>
        </p>
        <div class="col-xs-12">
            <div class="table-responsive user" style="margin-top: 20px;">
                <p><h2 class="text-center">{{listarcliente.showGrid && !search && (listarcliente.clientes | filter:search).length >= 0? 'Clientes Cadastrados': !search ? 'Nenhum cliente cadastrado!' : (listarcliente.clientes | filter:search).length <= 0 ?  'Nenhum cliente com ' + search + ' foi encontrado!':''}}</h2></p>
                <table class="text-center" ng-show="listarcliente.showGrid" ng-hide="!listarcliente.showGrid">
                    <thead ng-hide="(listarcliente.clientes | filter:search).length <= 0">
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Descrição</th>
                    <th colspan="2">Ações</th>
                    </thead>
                    <tbody ng-hide="(listarcliente.clientes | filter:search).length <= 0">
                    <tr ng-repeat="c in listarcliente.clientes" ng-class-odd="'alt'">
                        <td class="col-xs-2 cap fa-m">{{c.name}}</td>
                        <td class="col-xs-2 cap">{{c.email}}</td>
                        <td class="col-xs-2 cap">{{c.phone}}</td>
                        <td class="col-xs-2 cap">{{c.description}}</td>
                        <td class="col-xs-1"><a ng-click="listarcliente.goToChanges('/cliente/alterar',c)" href="javascript:void(0)"><i class="fa fa-2x fa-pencil"></i></a></td>
                        <td class="col-xs-1"><a ng-click="listarcliente.getUser(c)" data-toggle="modal" data-target="#modal-delete-cliente" href="javascript:void(0)"><i class="fa fa-2x fa-trash"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal" id="modal-delete-cliente">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Alerta de confirmação</h4>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza que deseja remover o cliente {{listarcliente.cliente.name}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" data-dismiss="modal" ng-click="listarcliente.onClickDelete()" class="btn btn-primary btn-delete">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/row-->
