<div class="row">

    <div class="container">
        <p>
        <div class="col-lg-4 pull-right"  ng-hide="!categoria.showGrid">
            <div class="form-group label-static">
                <label for="search" class="control-label">PROCURAR</label>
                <input type="text" class="form-control" id="search"
                       name="search" ng-model="search">
                <i class="fa fa-2x fa-search form-control-feedback"></i>
            </div>
        </div>
        </p>
        <div class="row register-container transparent" style="margin-top: 20px;">
            <div id="register">
                <p><h2>{{categoria.isUpdate ? 'Alterar':'Nova';}} Categoria</h2></p>
                <p>
                <form id="new-category-form" role="form" method="post">
                    <div class="col-lg-6">
                        <div class="form-group label-static">
                            <label for="code" class="control-label">CÓDIGO</label>
                            <input type="number" class="form-control" id="code"
                                   name="code" required ng-model="categoria.model.code">
                            <i class="fa fa-code form-control-feedback"></i>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group label-static">
                            <label for="name" class="control-label">NOME</label>
                            <input type="text" class="form-control" id="name"
                                   name="name" required ng-model="categoria.model.name">
                            <i class="fa fa-info form-control-feedback"></i>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group label-static text-center">
                            <button id="btn-signup" ng-click="categoria.isUpdate ? categoria.onClickChanges() : categoria.onClickCadastrar();" href="javascript:void(0)"
                                    class="btn btn-raised btn-info">{{categoria.isUpdate ? 'Alterar':'Cadastrar';}}
                            </button>
                        </div>
                    </div>
                </form>
                </p>

            </div>

        </div>
        <div class="col-xs-12">
            <div class="table-responsive user" style="margin-top: 30px;">
                <p><h2 class="text-center">{{categoria.showGrid && !search && (categoria.categories | filter:search).length >= 0? 'Categorias': !search ? 'Nenhuma categoria cadastrada!' : (categoria.categories | filter:search).length <= 0 ?  'Nenhuma categoria com ' + search + ' foi encontrada!':''}}</h2></p>
                <table class="text-center" ng-show="categoria.showGrid" ng-hide="!categoria.showGrid">
                    <thead ng-hide="(categoria.categories | filter:search).length <= 0">
                    <th>Código</th>
                    <th>Nome</th>
                    <th colspan="2">Ações</th>
                    </thead>
                    <tbody ng-hide="(categoria.categories | filter:search).length <= 0">
                    <tr ng-repeat="c in categoria.categories | filter:search" ng-class-odd="'alt'">
                        <td class="col-xs-6 cap fa-m">{{c.code}}</td>
                        <td class="col-xs-6 cap">{{c.name}}</td>
                        <td class="col-xs-1"><a ng-click="categoria.goToChanges(c)" href="javascript:void(0)"><i class="fa fa-2x fa-pencil"></i></a></td>
                        <td class="col-xs-1"><a ng-click="categoria.getCategory(c)" data-toggle="modal" data-target="#modal-delete-user" href="javascript:void(0)"><i class="fa fa-2x fa-trash"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal" id="modal-delete-user">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Alerta de confirmação</h4>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza que deseja remover o categoria {{categoria.category.name}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" data-dismiss="modal" ng-click="categoria.onClickDelete()" class="btn btn-primary btn-delete">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>