<div class="row">
    <div class="container">
        <p>
            <div class="col-lg-4 pull-right"  ng-hide="!listar.showGrid">
                <div class="form-group label-static">
                    <label for="search" class="control-label">PROCURAR</label>
                    <input type="text" class="form-control" id="search"
                           name="search" ng-model="search">
                    <i class="fa fa-2x fa-search form-control-feedback"></i>
                </div>
            </div>
        </p>
        <div class="col-xs-12">
            <div class="table-responsive user" style="margin-top: 20px;">
                <p><h2 class="text-center">{{listar.showGrid && !search && (listar.users | filter:search).length >= 0? 'Usuários Cadastrados': !search ? 'Nenhum usuário cadastrado' : (listar.users | filter:search).length <= 0 ?  'Nenhum usuário com ' + search + ' foi encontrado!':''}}</h2></p>
                <table class="text-center" ng-show="listar.showGrid" ng-hide="!listar.showGrid">
                    <thead ng-hide="(listar.users | filter:search).length <= 0">
                        <th>Nome</th>
                        <th>Nome de Usuário</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th colspan="2">Ações</th>
                    </thead>
                    <tbody ng-hide="(listar.users | filter:search).length <= 0">
                    <tr ng-repeat="u in listar.users" ng-class-odd="'alt'">
                        <td class="col-xs-3 cap">{{u.name}}</td>
                        <td class="col-xs-2 cap">{{u.username}}</td>
                        <td class="col-xs-2 cap">{{u.email}}</td>
                        <td class="col-xs-2 cap" mask>{{u.phone}}</td>
                        <td class="col-xs-2"><a ng-click="listar.goToChanges('/usuario/alterar',u)" href="javascript:void(0)"><i class="fa fa-2x fa-pencil"></i></a></td>
                        <td class="col-xs-2"><a ng-hide="u.active" ng-click="listar.getUser(u)" href="javascript:void(0)" data-toggle="modal" data-target="#modal-delete-user"><i class="fa fa-2x fa-trash"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal" id="modal-delete-user">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Alerta de confirmação</h4>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza que deseja remover o usuário {{listar.user.name}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" data-dismiss="modal" ng-click="listar.onClickDelete()" class="btn btn-primary btn-delete">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/row-->
