<div class="row">

    <div class="container">
        <div class="row register-container transparent" style="margin-top: 20px;">

            <div id="register">
                <p><h2>{{cliente.isUpdate ? 'Alterar':'Novo';}} Cliente</h2></p>
                <p>
                <form id="signup-form" role="form">
                    <div class="col-lg-6">
                        <div class="form-group label-static">
                            <label for="name" class="control-label">NOME</label>
                            <input type="text" class="form-control" id="name" ng-model="cliente.model.name"
                                   name="name" required>
                            <i class="fa fa-info form-control-feedback"></i>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group label-static">
                            <label for="email" class="control-label">E-MAIL</label>
                            <input type="email" class="form-control" id="email" ng-model="cliente.model.email"
                                   name="email">
                            <i class="fa fa-envelope form-control-feedback"></i>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group label-static">
                            <label for="phone" class="control-label">TELEFONE</label>
                            <input type="phone" class="form-control" id="phone" ng-model="cliente.model.phone" mask="ddd:telefone"
                                   name="phone" required>
                            <i class="fa fa-phone form-control-feedback"></i>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group label-static">
                            <label for="description" class="control-label">Descrição</label>
                            <input type="text" class="form-control" id="description" ng-model="cliente.model.description"
                                   name="description">
                            <i class="fa fa-key form-control-feedback"></i>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group label-static text-center">
                            <button id="btn-signup" ng-click="cliente.onClick()" href="javascript:void(0)"
                                    class="btn btn-raised btn-info">{{cliente.isUpdate ? 'Alterar':'Cadastrar';}}
                            </button>
                        </div>
                    </div>
                </form>
                </p>

            </div>

        </div>
    </div>
</div>