<div class="row">

	<div class="container">
		
		<div class="row">
			<h2>{{userform.isUpdate ? 'Alterar':'Novo'}} Usuário</h2>
            
            <a href="javascript:void(0)" class="btn btn-primary btn-fab" ng-link="userlist()"><i class="fa fa-chevron-left"></i></a>
        </div>
		
		
		<div class="row register-container transparent" style="margin-top: 20px;">

			<div id="register">
				
				<p>
				<form id="signup-form" role="form">
					<div class="col-lg-6">
						<div class="form-group label-static">
							<label for="name" class="control-label">NOME</label>
							<input type="text" class="form-control" id="name" ng-model="userform.user.name"
								   name="name" required>
							<i class="fa fa-info form-control-feedback"></i>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group label-static">
							<label for="username" class="control-label">USUÀRIO</label>
							<input type="text" class="form-control" id="username" ng-model="userform.user.username"
								   name="username" required>
							<i class="fa fa-user form-control-feedback"></i>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group label-static">
							<label for="email" class="control-label">E-MAIL</label>
							<input type="email" class="form-control" id="email" ng-model="userform.user.email"
								   name="email">
							<i class="fa fa-envelope form-control-feedback"></i>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group label-static">
							<label for="phone" class="control-label">TELEFONE</label>
							<input type="phone" class="form-control" id="phone" ng-model="userform.user.phone" mask="ddd:telefone"
								   name="phone" required>
							<i class="fa fa-phone form-control-feedback"></i>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group label-static">
							<label for="password" class="control-label">SENHA</label>
							<input type="password" class="form-control" id="password" ng-model="userform.user.password"
								   name="password" required>
							<i class="fa fa-key form-control-feedback"></i>
						</div>
					</div>

					<div class="col-lg-12">
						<div class="form-group label-static">
							<button id="btn-signup" ng-click="userform.onClickUpdate()" href="javascript:void(0)" class="btn btn-raised btn-info" ng-show="userform.isUpdate">Salvar Alterações</button>
                            <button id="btn-signup" ng-click="userform.onClickCadastrar()" href="javascript:void(0)" class="btn btn-raised btn-success" ng-show="!userform.isUpdate">Cadastrar</button>
						</div>
					</div>
				</form>
				</p>

			</div>

		</div>
	</div>
</div>