<div class="row">
    <div class="container">
        <p>
        <div class="col-lg-4 pull-right" ng-hide="!venda.showGrid">
            <div class="form-group label-static">
                <label for="search" class="control-label">PROCURAR</label>
                <input type="text" class="form-control" id="search"
                       name="soldAmount" ng-model="search">
                <i class="fa fa-2x fa-search form-control-feedback"></i>
            </div>
        </div>
        </p>
        <div class="col-xs-12">
            <div class="table-responsive user" style="margin-top: 20px;">
                <p><h2 class="text-center">{{venda.showGrid && !search && (venda.sales | filter:search).length >= 0? 'Vendas Realizadas': !search ? 'Nenhuma venda realizada!' : (venda.sales | filter:search).length <= 0 ?  'Nenhuma venda com ' + search + ' foi encontrada!':''}}</h2></p>
                <table class="text-center" ng-show="venda.showGrid" ng-hide="!venda.showGrid">
                    <thead ng-hide="(venda.sales | filter:search).length <= 0">
                        <th>Status</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                        <th>Usuário</th>
                        <th>Data da Venda</th>
                        <th>Cancelar Venda</th>
                    </thead>
                    <tbody ng-hide="(venda.sales | filter:search).length <= 0">
                    <tr ng-repeat="v in venda.sales | filter:search" ng-class-odd="'alt'">
                        <td class="col-xs-2 cap">{{v.situation}}</td>
                        <td class="col-xs-2 cap">{{v.product.name}}</td>
                        <td class="col-xs-2 cap">{{v.amount}}</td>
                        <td class="col-xs-2 cap">R{{v.value | currency}}</td>
                        <td class="col-xs-2 cap">{{v.user.username}}</td>
                        <td class="col-xs-2 cap">{{v.createDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td class="col-xs-1"><a ng-click="venda.getVenda(v)" data-toggle="modal" data-target="#modal-delete-sale" href="javascript:void(0)"><i class="fa fa-2x fa-times"></i></a></td>
                    </tr>
                    <tr>
                        <td>Total em vendas</td>
                        <td>R{{venda.total | currency}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal" id="modal-delete-sale">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Alerta de confirmação</h4>
                        </div>
                        <div class="modal-body">
                            <p>Tem certeza que deseja cancelar essa venda?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" data-dismiss="modal" ng-click="venda.onClickDelete()" class="btn btn-primary btn-delete">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>